APP_ADDR=:8080
GIN_MODE=release
ADMIN_KEY=troque_esta_chave
EASY2USE_BASE_URL=https://mvno.tipbrasil.com.br/api/public
EASY2USE_USER_TOKEN=token_aqui
ALLOWED_CNPJS=58420964000179,15070244000118,58420964000330,58420964000500
RECHARGE_INTERVAL_DAYS=90
RECHARGE_SAFETY_WINDOW_DAYS=0
DEFAULT_RECHARGE_QUANTITY=1
PROVIDER_REQUEST_DELAY_MS=1200
